<% if !current_user %>

<div class="jumbotron">
  <h1>Goatleg</h1>
  <p class="lead">Because goats ain't got no arms...</p>
  <p>The premium travelling-dating app for people who have eaten goat leg. Haven't eaten goat leg before? Fuck off.</p>
  <p><%= link_to "Sign up today, motherfucker!", new_user_registration_path, :class => "btn btn-lg btn-success", "role" => "button" %></p>
<br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10922879_10204619982353834_560799776413417992_n.jpg?oh=e881f2f1998a61ffaccbfd65deeb3776&amp;oe=55580276" class="img-circle img-responsive" />
      <p class="text-center"><br />HAVE YOU</p>
    </div>
    <div class="col-md-4">
      <img src="http://wfas-maxcdn.woodstockfarmani.netdna-cdn.com/wp-content/uploads/2009/07/albienewleg.jpg" class="img-circle img-responsive" />
      <p class="text-center"><br />EATEN</p>
    </div>
    <div class="col-md-4">
      <img src="http://photos-h.ak.instagram.com/hphotos-ak-xaf1/t51.2885-15/10950528_1449447872012087_634144019_n.jpg" class="img-circle img-responsive" />
      <p class="text-center"><br />GOAT LEG?</p>
    </div>
  </div>
  <div class="row">&nbsp;</div>

</div>

<% else %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="http://i.huffpost.com/gadgets/slideshows/350430/slide_350430_3763099_free.jpg" class="img-responsive img-rounded" />
    </div>
    <div class="col-md-8">
      <h3>Dashboard</h3>
      <p>Welcome back, <%= current_user.email %>!</p>
    </div>
  </div>
</div>

<br /><br />


<div class="container text-center">
  <div class="row">
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to "Account", new_user_registration_path, :class => "btn btn-lg btn-info", "role" => "button" %>
      <%= link_to "Update Profile", new_user_registration_path, :class => "btn btn-lg btn-info", "role" => "button" %>
      <%= link_to "Add New Trip", new_user_registration_path, :class => "btn btn-lg btn-info", "role" => "button" %>
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to "Trips", new_user_registration_path, :class => "btn btn-lg btn-default", "role" => "button" %>
      <%= link_to "Messages", new_user_registration_path, :class => "btn btn-lg btn-default", "role" => "button" %>
    </div>
  </div>

  <div class="row">
    &nbsp;
  </div>
</div>

<!-- 
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10922879_10204619982353834_560799776413417992_n.jpg?oh=e881f2f1998a61ffaccbfd65deeb3776&amp;oe=55580276" class="img-circle img-responsive" />
      <p class="text-center"><br />HAVE YOU</p>
    </div>
    <div class="col-md-4">
      <img src="http://wfas-maxcdn.woodstockfarmani.netdna-cdn.com/wp-content/uploads/2009/07/albienewleg.jpg" class="img-circle img-responsive" />
      <p class="text-center"><br />EATEN</p>
    </div>
    <div class="col-md-4">
      <img src="https://scontent-sjc.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10177344_1540199399591821_2803772484236005738_n.jpg?oh=7ec032b42509914911475151909680c7&amp;oe=558F774A" class="img-circle img-responsive" />
      <p class="text-center"><br />GOAT LEG?</p>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>
-->

<% end %>