<%= form_for @trip, :html => { :class => 'form-horizontal'} do |f| %>

  <% if @trip.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@trip.errors.count, "error") %></h3>
      <ul>
        <% @trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag "Add Trip" do %>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= select("trip", "user_id", User.all.collect { |u| [u.email, u.id] }) %>
  </div>

  <div class="form-group">
    <%= f.label :destination %>
    <%= country_select("trip", "destination") %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= date_field("trip", "start_date") %>
  </div>

  <div class="form-group">
    <%= f.label :end_date %>
    <%= date_field("trip", "end_date", default: 2.weeks.from_now) %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>

  <% end %>

<% end %>