
<div class="box">
  <h3><%= User.find(@trip.user.profile.id)[:email] %>, aged <%= Profile.find(@trip.user.profile.id)[:age] %></h3>

  <p><%= Profile.find(@trip.user.profile.id)[:gender] %> seeking <%= Profile.find(@trip.user.profile.id)[:seeking_gender] %></p>

  <p>
    Visiting <strong><%= @trip.destination_name %></strong> from <strong><%= @trip.start_date.to_formatted_s(:short) %></strong> to <strong><%= @trip.end_date.to_formatted_s(:short) %></strong>
  </p>
</div>