<%= form_for @profile, html: { multipart: true, class: 'form-horizontal' }  do |f| %>
  
  <%= f.hidden_field :user_id, :value => @profile.user_id %>

  <% if @profile.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag "Update/Edit Profile" do %>

  <div class="form_group">
    <%= f.label :username %>
    <br /><%= f.text_field :username %>
  </div>

  <div class="form_group">
    <%= f.label :gender %>
    <br /><%= select('profile', 'gender', %w[m f]) %>
  </div>

  <div class="form_group">
    <%= f.label :seeking_gender %>   
    <br /><%= select('profile', 'seeking_gender', %w[m f]) %>
  </div>

  <div class="form_group">
    <%= f.label :age %>
    <br /><%= f.number_field :age %>
  </div>

  <div class="form_group">
    <%= f.label :avatar %>
    <br /><%= f.file_field :avatar %>
  </div>
  <div class="form_group">
    <%= f.label :about %>
    <br /><%= f.text_area :about %>
  </div>

  <div class="form_group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

  <% end %>

<% end %>
