<%= form_for(@profile) do |f| %>
  
  <div class="field">
      <%= f.hidden_field :user_id, :value => @profile.user_id %>
    </div>

  <div class="field">
    <%= label_tag("Your gender? ") %><br>
    
    <%= f.select :gender, options_for_select([["male", "m"], ["female", "f"]]) %>
  </div>

  <div class="field">
    <%= label_tag("You're looking for a? ") %><br>
    <%= f.select :seeking_gender, options_for_select([["male", "m"], ["female", "f"]]) %>
  </div>

  <div class="field">
    <%= label_tag("How old are you? ") %><br>
    <%= f.number_field :age %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
