<h2>Register</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
  <%= f.label :goatleg %><br />
  <input type="text" name="eaten_goatleg" id="user_eaten_goatleg">
  
  </div>

<%= f.fields_for :profile do |profile_form| %>
      <h2><%= profile_form.label :gender %></h2>
      <p><%= profile_form.text_field :gender %></p>

      <h2><%= profile_form.label :seeking_gender %></h2>
      <p><%= profile_form.text_field :seeking_gender %></p>
    <% end %>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
