<!DOCTYPE html>
<html>
<head>
  <title>Goatleg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="header">

    <!-- 
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <% if current_user %>
          <li role="presentation" class="active"><a href="/profiles/<%= current_user.profile.id %>">My Profile</a></li>
          <li role="presentation" class="active"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>          
        <% else %>
          <li role="presentation" class="active"><a href="/users/sign_in">Sign In</a></li>
          <li role="presentation" class="active"><a href="/users/sign_up">Sign Up</a></li>
        <% end %>
      </ul>
    </nav> -->

      <ul class="nav navbar-nav nav-pills navbar-right">
        <li><a href="/">Home</a></li>
        
        <% if current_user %>
        <li><%= link_to "View Trips", trips_path %></li>
        <li><%= link_to "<span class=\"glyphicon glyphicon-envelope\" aria-hidden=\"true\"></span>".html_safe, conversations_path %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user ? current_user.email : "Account" %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if current_user %>

            <li><%= link_to "Dashboard", dashboard_index_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Profile", profile_path(current_user.profile.id) %></li>
            <li><%= link_to "Edit Account", edit_user_registration_path %></li>
              <% if !Profile.find(current_user.profile.id) %>
                <li><%= link_to "Create Profile", new_profile_path %></li>
              <% else %>
                <li><%= link_to "Update Profile", edit_profile_path(current_user.profile.id) %></li>
              <% end %>
            <li class="divider"></li>
            <li><%= link_to "Add Trip", new_trip_path %></li>
            <li class="divider"></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
              <li><%= link_to "Register", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>


    <h3 class="text-muted">Goatleg</h3>
  </div> <!-- .header -->





  <div class="container">
  <%= yield %>
  </div>
 
  <div class="footer">
    <p>Brought to you by:</p>
    <p>FAB-EZY, DENGUE DAN, POWDERED MILK, JENNERGY &amp; SPAGNO</p>
  </div>

</div> <!-- .container -->

</body>
</html>
